* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 36px;
}

body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  min-width: 100px;
  padding: 0.25rem;
  margin: 0.25em;
  border-radius: 0.5em;
  display: grid;
  place-content: center;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.5em;
  margin-bottom: 1rem;
  outline: none;
}
